@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background:#2f2841;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #514869;
    color: #fff;
    display: flex;
    color: #0f8;
    font-weight: 200000px;
    margin: 0;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	padding-right: 20px;
	padding-bottom: 10px;	
}

a:link {
   color: #0f8;
   font-size: 15pt;
}

a:visited {
   color: #0f8;
   font-size: 15pt;
}

a:hover {
    color: #000000;
	   font-size: 16pt;
}

a:active {
   color: #0f8;
   font-size: 15pt;
}

.titulo-2{
    color: #0f8;
    font-weight: 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.janela{
    display: flex ;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
    margin: 0;
    

}

.objeto{
    width: 250px;
    height: 200px;
    border: nome;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 10pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

#btnExpandir {
    background: #514869;
    color: #0f8;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 5px;
}

.toggle-btn:hover {
    background-color: #0f8;
}

.modal{
width: 60%;
min-width: 450px;
min-height: 200px;
background-color: #2f284196;
padding: 50px;
border-radius: 20px;


}


.janela-modal{
width: 100vw;
height: 100vh;
display: none;
position: fixed;
left: 0;
top: 0;
align-items: center;
justify-content: center;
z-index: 999;
backdrop-filter:blur(10px);
}

.btn-fechar{
position: absolute;
top: -px;
rigth: -5px
width: 30px;
height: 30px;
border-radius: 50%;
border: 0;
background-color: 2f2841;
collor: 0f8;
font-size: 20px;
	
	
}

.msg-erro{
text-align: center;
color: #ff0000;
background-color: #ffbbbb;
padding: 10px;
border-radius: 4px;
display: none; 
}